h1 {
  font-style: italic;
  font-family: inherit;
  font-size:150px;
  color:indigo;
  text-align:center;
  font-style: italic;
  font-weight:700;
}
body{
background-color:violet;
}

  h2{
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size:100px;
 color:purple;
}
p{
  font-size:25px;
  font-style: italic;
  font-weight: 100;
}

nav a{
  display: inline-flex;
  padding:30px 30px;
  color:bronze;
}

nav a:hover{
  background-color:pink;
  background-position: right;
  color: maroon;
}

img{
  width: 100px;
  height:100px;
  border-radius:50%
  border-style:dotted;
}

img{
  width:20%
  height:20%
  margin-right:auto;
}

h3{
  font-style: italic;
  font-family: fantasy;
  font-size:150px;
  text-align: center;
  font-weight:750;
  color: maroon;
}

h4{
  text-align: center;
  font-style: italic;
  font-size: 100px
  font-weight:600;
  color: purple;
}

p{
  font-size: 25px
  font-style:italic;
  font-weight: 100;
}

img:hover{
  width: 100px
  height:100px
  border-radius:50%
  border-style:dotted;
}
#rec{
  width: 80px;
  height:80px;
}
